# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
